<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reddit_Wallpaper_Changer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Reddit_Wallpaper_Changer.Properties.Settings>
            <setting name="wallpaperGrabType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="subredditsUsed" serializeAs="String">
                <value>wallpapers+wallpaper</value>
            </setting>
            <setting name="searchQuery" serializeAs="String">
                <value>1920x1080</value>
            </setting>
            <setting name="changeTimeValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="changeTimeType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="startInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyAddress" serializeAs="String">
                <value>address:port</value>
            </setting>
            <setting name="proxyAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyUser" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="proxyPass" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="defaultSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="currentWallpaperName" serializeAs="String">
                <value />
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="threadTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="threadID" serializeAs="String">
                <value />
            </setting>
            <setting name="currentWallpaperUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="currentWallpaperFile" serializeAs="String">
                <value />
            </setting>
            <setting name="wallpaperFade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="updateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="manualOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wallpaperStyle" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="sizeValidation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fitWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="suppressDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wallpaperInfoPopup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSaveFaves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="thumbnailCache" serializeAs="String">
                <value />
            </setting>
            <setting name="dbMigrated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rebuildThumbCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wallpaperCache" serializeAs="String">
                <value />
            </setting>
        </Reddit_Wallpaper_Changer.Properties.Settings>
    </userSettings>
</configuration>